.App {
  text-align: center;
  height: 98.5vh;
}

.top{
  display: flex;
  height: 80%;
}

.bottom{
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  height: 5%;
}

.left{
  width: 50%;
  height: 100%;
  outline: 1px dashed grey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.img{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 28.5rem;
  height: 100%;
  border-radius: 8px;
}

.right{
  width: 50%;
  height: 100%;
  outline: 1px dashed grey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.grid {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.square {
  outline: 1px dashed grey;
  width: 7.2rem;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;
}

